    <!-- START BREAKFAST -->
    {% case page.lang %}
      {% when 'en' %}
        {% for breakfast in site.breakfasts %}
          <div class="manu-item">
            <img src="{{ breakfast.thumbnail }}" alt="Photo of Food" class="menu-img">
            <div class="menu-text">
              <h2 class="h2">{{ breakfast.name-en }}, €&nbsp;{{ breakfast.price }}</h2>
              <div class="menu-description">{{ breakfast.description-en }}</div>
            </div>
          </div>
        {% endfor %}
      {% when 'gr' %}
        {% for breakfast in site.breakfasts %}
          <div class="manu-item">
            <img src="{{ breakfast.thumbnail }}" alt="Photo of Food" class="menu-img">
            <div class="menu-text">
              <h2 class="h2">{{ breakfast.name-gr }}, €&nbsp;{{ breakfast.price }}</h2>
              <div class="menu-description">{{ breakfast.description-gr }}</div>
            </div>
          </div>
        {% endfor %}
    {% endcase %}
    <!-- END BREAKFAST -->