    <!-- START SALADS -->
    {% case page.lang %}
      {% when 'en' %}
        {% for salad in site.salads %}
          <div class="salad"><img src="{{ salad.thumbnail }}" alt="Photo of Food" class="menu-img">
            <div class="menu-text">
              <h2 class="h2">{{ salad.name-en }}, €&nbsp;{{ salad.price }}</h2>
              <div class="menu-description">{{ salad.description-en }}</div>
            </div>
          </div>
        {% endfor %}
      {% when 'gr' %}
        {% for salad in site.salads %}
          <div class="salad"><img src="{{ salad.thumbnail }}" alt="Photo of Food" class="menu-img">
            <div class="menu-text">
              <h2 class="h2">{{ salad.name-gr }}, €&nbsp;{{ salad.price }}</h2>
              <div class="menu-description">{{ salad.description-gr }}</div>
            </div>
          </div>
        {% endfor %}
    {% endcase %}
    <!-- END SALADS -->